.container{
  height: 100vh;
  width: 96vw;
  margin: auto;
}
.header{
  width: fit-content;
  margin: auto;
  font-size: 2em;
  font-weight: bold;
  color: #409EFF;

}
.sub-header{
  color: #409EFF;
  font-weight: bold;
  font-size: large;

}
.left{
  text-align: left;
}

.right{
  color: #67C23A;
}
.wrong{
  color: #F56C6C;
}

.center {
  text-align: center;
}

.type{
  text-align: left;
}

/* .footer{
  padding: 0 20px;
  box-sizing: border-box;
  flex-shrink: 0;
} */

.text{
  font-size: medium;
}
.dialogTitle{
  font-weight: 500;
  font-size: 18px;


}
